*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

*::selection{
    color: none;
    background-color: none;
}

*:root{
    --circle-opacity: 0.3;
}

body{
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

h1{
    text-align: center;
    color: #f8dd50;
    font-size: 150px;
}

.bubble-container{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    /* On cache le curseur car la bulle en fait office */
    cursor: none;
}

.bubble{
    opacity: 0.5;
    position: absolute;
    border-radius: 100%;
    transition: 0.2s linear;
    animation: opacityScalling 0.3s forwards linear;
}

.fall{
    animation: fallAnimation 2s forwards ease-out;
}

.circle {
    z-index: 5;
    opacity: var(--circle-opacity);
    position: absolute;
    border-radius:100%;
    backface-visibility: hidden;
}

@keyframes fallAnimation{

    50%{
        top: 100%;
        transform: translateY(-100%);
    }

    60%{
        transform: scaleY(0.95)  translateY(-100%);
        top: 97%;
    }

    75%{
        transform: scaleY(1)  translateY(-100%);
        top: 95%;
    }

    100%{
        top: 100%;
    }
}

@keyframes opacityScalling{
    0%{
        opacity: var(--circle-opacity);
    }

    50%{
        transform: scale(1.4);
        opacity: 1;
    }

    60%{
        opacity: 0.7;
        transform: scale(1.1);
    }

    100%{
        opacity: 0.5;
    }
}